@import "../config";
@import "../mixins";

.slice2{
    width: 960px;
    margin-bottom: -5px;
     
    @include sm{
        display: none;
      }
  
 }

 .briviactExibits{
     background-color:  #f8f6f0;
     padding: 20px;
     margin-bottom: 10px;

     h2{
        color: $font-color;
        text-align: center;
        font-size: $headers-fontSize;
        font-weight: 350;

        @include sm{
            font-size: 18px;
        }

        @include md-only{
            font-size: 25px;
        }

        @include lg{
            font-size: 25px;
        }
    }

  table{
      background-color: $main-color;
      width: 80%;
      margin-top: 20px;
      border-collapse: collapse;

      @include sm{
        font-size: smaller;
    }

    @include md-only{
        font-size: smaller;
    }
    
      caption{
          padding: 10px;
          background-color: cadetblue;
          margin-bottom: 2px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
      }

      li{
        list-style-type: disc;
    }

  }
  table, th, td{
    border: 1px solid #f8f6f0;
    padding: 10px 25px;
  }


 }