@import "../config";
@import "../mixins";

footer{
    background-color: $footer-color;
    padding: 20px;
    color: $main-color;
    height: auto;
    
    h4{
        padding: 10px;
        text-align: left;
    }
    .footerBlockFirst{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 14px;

        @include md-only{
            font-size: 12px;
        }
/*
        .footerBlock1{
            width: auto;
            padding: 15px;
        }
        .footerBlock2{
          @extend.footerBlock1;
        }
   */
    }
    .footerBlockSecond{
        column-count: 2;
        column-gap: 60px;
        padding: 20px;
        font-size: 14px;
    
        @include sm{
            display: flex;
            flex-direction: column;
        }

        @include md-only{
            font-size: 12px;
        }

 
   
  }
}

