@import "../config";
@import "../mixins";


.topHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    @include sm{
       flex-direction: column;
       padding: 20px;
    }
}

.text{
    font-size: 14px;
    text-align: right;

    @include sm{
        display: none;
     }

     @include md-only{
        font-size: 12px;
     }
}