$screen-sm-max: 767px;
$screen-md-min: $screen-sm-max + 1px;//768px
$screen-md-max: 991px;
$screen-lg-min: $screen-md-max + 1px;



$text-color: white;
$main-color:  #fffff2;
$font-color: #7c0041;
$headers-fontSize: 30px;
$footer-color: #696b73;

