//@import "config";
//@import "mixins";
/*
.mainBox{
    width: 960px;
    height: auto;
    border: 1px solid $font-color;
    margin: auto;
    box-shadow: $font-color;
    background-color: $main-color;

    @include sm{
        width: 100%;
    }

    @include md-only{
        width: 100%;
    }
}
*/
.topHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    @include sm{
       flex-direction: column;
       padding: 20px;
    }
}