//header 
.top_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    @include sm{
       flex-direction: column;
       padding: 20px;
    }
}
//navigation
.overlay-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    padding: 35px;
    background-color: $font-color;
  
      @include sm{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        }
      @include md-only{
        display: flex;
        flex-direction: row;
        }
      @include lg{
        display: flex;
        flex-direction: row;
        }
        li{
            list-style: none;
        }
  }
  //navigation style for mobile
  @include sm {   
  nav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $font-color;
    opacity: 0.9;
    overflow-y: hidden;
    transition: 0.5s;
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: $main-color;
        transition: 0.3s;
      }
   }
}  
//block with main header
.header_block{
    background-color: $font-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    .triangle_img{
        margin-left: 0;
    }
    .header_title{
         padding: 30px;
    
        @include sm{
            padding: 20px;
        }

        @include md-only{
            padding: 8px;
        }
    } 
    .main_title{
        color: $text-color;
        font-size: 25px;
    
        @include sm {
            font-size: 14px;
        }
        @include md-only {
            margin-top: 50px;
            font-size: 20px;
            padding: 10px;
        }  
    }
    .main_subtitle{
        font-size: 20px;
        color: $main-subtitle-color;
    
        @include sm {
            font-size: 12px;
        }
        @include md-only {
            font-size: 17px;
        }
    }
}
//injection_block
.injection_block{
    padding: 40px;
    background-color: $bgblock-color;

    @include sm{
        font-size: 12px;
    }
    @include md-only{
        font-size: 14px;
    }
}
//BRIVIACT molecular block
.briviact_molecular_block{
    padding: 40px;

    @include sm{
        font-size: 12px;
    }
    @include md-only{
        font-size: 14px;
    }
    .img_block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include sm{
            flex-direction: column;
        }
        img{
            border-radius: 15px;
        }
    }
}
//BRIVIACT exibits block
.briviact_exibits{
    background-color: $bgblock-color;
    padding: 20px;
    margin-bottom: 10px;
}
//dose_conversion block
.dose_conversion{
    padding: 40px;

    @include sm{
        font-size: 12px;
    }
    @include md-only{
        font-size: 14px;
    }

    tr:nth-child(odd){
        background-color: $bgblock-color
     }
}
//adult afficacy block
.adult_afficacy{
    background-color: $bgblock-color;
    padding: 40px; 

    @include sm{
        padding: 40px;
        font-size: 12px;
    }
    @include md-only{
        padding: 70px;
        font-size: 14px;
    }
    @include lg{
        padding: 40px;
    }
    .main_section_block{
        display: flex;
        flex-wrap: wrap;

        @include sm {
            align-items: center;
            flex-direction: column;
        }
        @include lg {
            justify-content: space-around;
        }
        .trial_design{
            width: 40%;
            padding: 20px;
            margin: 15px;
            line-height: 20px;
            background-color: $text-color;
            border-radius: 20px;

            @include sm {
                font-size: 12px;
                width: 100%;
            }
            @include md-only {
                font-size: 14px;
            }
        }
        .trial_result{
            @extend .trial_design;
            background-color: $bgblock-color;
        }
        .briviact{
            width: 100%;
            @extend .trial_result;

            @include sm {
                width: 100%;
            }
        }
    }   
}
//footer
footer{
    background-color: $footer-color;
    padding: 20px;
    color: $main-color;

    .footer_block_first{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 14px;

        @include sm{
            font-size: 12px;
        }
        @include md-only{
            font-size: 12px;
        }
    }
    .footer_block_second{
        column-count: 2;
        column-gap: 60px;
        padding: 20px;
        font-size: 14px;
    
        @include sm{
            display: flex;
            flex-direction: column;
            padding: 10px;
            font-size: 12px;
        }
        @include md-only{
            font-size: 12px;
        }
  }
  @include sm{
    .footertxt{
     padding: 20px;
     font-size: 12px;
      }
    }
    @include md-only{
      .footertxt{
       padding: 20px;
        }
      }
      @include lg{
        .footertxt{
         padding: 20px;
          }
        }
} 
