//text in header
@include sm{
    .is-hidden{
     display: none;
      }
    }
//button for close humburger-menu
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  
    @include md-only{
      display: none;
    }
    @include lg{
      display: none;
    }
  }
//menu icon for mobile version
.humburger-menu{
    display: block;
    font-size: 50px;
    cursor:pointer;
    background-color: $font-color;
    color: $main-color;
    text-align: right;
  
    @include md-only{
      display: none;
    }
    @include lg{
      display: none;
    }
  }
//
  .slice{
    width: 100%;

    @include sm{
        display: none;
    }
 }
//
.slice2{
     width: 960px;
     margin-bottom: -5px;

    @include sm{
     display: none;
   }
 } 