@import "config";
@import "mixins";

@include google-font(Roboto);

 *{
    margin: 0 auto;
    padding: 0;
}
body{
        width: auto;
        height: auto;
        margin: 0 auto;
        font-family: Roboto;
        background-color: $main-color;

        @include sm{
            background-color: red;
        }
        @include md-only{
            background-color: blue;
        }
        @include lg{
            background-color: $main-color;
        }
    
    .main{
        width: 100%;
        height: auto;
        border: 1px solid $font-color;
        margin: auto;
        box-shadow: $font-color;
        background-color: $main-color;

        @include md{
            max-width: 100%;
        }
        @include lg{
            max-width: 100%;
        }
//HEADER
.mainLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    @include sm{
       flex-direction: column;
       padding: 20px;
    }
}

.text{
    font-size: 14px;
    text-align: right;

    @include sm{
        font-size: 10px;
     }
}

.triangle{
    margin-top: -100px;

    @include md {
        margin-top: -160px;
    }

    @include lg {
        margin-top: -220px;
    }
 }

    .navMenu{
        margin-top: -600px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        padding: 10px; 

        @include sm{
            margin-right: 20px;
            margin-top: -45%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        @include md {
            margin-top: -350px;
        }

        @include lg{
            margin-top: -580px;
        }
    a{
        text-decoration: none;
        color: $text-color;
        cursor: pointer;
    }



}
.headerText{
    margin-left: 150px; 

    @include sm{
        padding: 5px;
    }
}

.first{
    margin-top: 130px;
    color: $text-color;
    font-size: 30px;

    @include sm {
        margin-top: auto;
        font-size: 15px;
    }

    @include md {
        margin-top: 50px;
        font-size: 20px;
        padding: 10px;
    }

    @include lg {
        margin-top: 80px;
        font-size: 20px;
        padding: 10px;
    }
}
.second{
    font-size: 27px;
    color: $main-color;

    @include sm {
        margin-top: auto;
        font-size: 14px;
    }

    @include md {
        margin-top: auto;
        font-size: 17px;
    }
}
hr {
    position: relative;
    margin: 20px 150px;
    width: 550px;
    font-size: 1px;
    border: 0.2px solid $main-color;

    @include sm{
        margin: 10px 160px;
        width: 50%;
    }

    @include md{
        margin: 10px 160px;
        width: 50%;
    }
 }

 //MAIN PART
 .mainSection{
     margin-top: 150px;
   
     @include sm {
         height: 1300px;
     }

     @include md {
        height: 1300px;
    }

    @include lg{
        margin-top: 240px;
    }


     .firstArticle{
        padding: 40px; 

        @include sm{
            padding: 10px;
        }


        h2{
            color: $font-color;
            margin-top: -950px;
            text-align: center;
            font-size: $headers-fontSize;
            font-weight: 350;

            @include sm{
                margin-top: -710px;
                font-size: 25px;
            }

            @include md{
                margin-top: -900px;
                font-size: 25px;
            }

            @include lg{
                margin-top: -1450px;
                font-size: 25px;
            }
        }
        .subtitle{
            font-size: 15px;
            text-transform: uppercase;
            padding: 10px;
            font-weight: 600;

            @include sm{
                font-size: 14px;
            }

            @include lg{
                margin-left: 140px;
            }
        }
        .mainSectionBlock{
            display: flex;
            flex-wrap: wrap;


            @include sm {
                align-items: center;
            }

            @include lg {
                justify-content: space-around;
            }

            .trialDesign{
                order: 1;
                width: 350px;
                height: 220px;
                padding: 20px;
                margin: 15px;
                line-height: 20px;
                background-color: white;
                border-radius: 20px;

                @include sm {
                    width: auto;
                    font-size: smaller;
                }

                @include md {
                    width: auto;
                    font-size: smaller;
                }
             }
             .trialResult{
                 @extend .trialDesign;
                order: 2;
                background-color: #f8f6f0;
             }
             .briviant{
                order: 3;
                width: 800px;
                @extend .trialResult;

                @include sm {
                    width: auto;
                }

                figure{
                    text-align: center;
                    padding: 15px;

                    figcaption{
                        font-weight: 600;
                        padding: 15px;

                        @include sm {
                            width: 100%;
                        }
                    }
                }
             }
        }
    }
     
 }

 //FOOTER
footer{
    background-color: $footer-color;
    padding: 20px;
    color: $main-color;
    height: auto;
    
    h4{
        padding: 10px;
        text-align: left;
    }
    .footerBlock{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: baseline;
        font-size: 14px;

        .footerBlock1{
            width: auto;
            padding: 15px;
        }
        .footerBlock2{
          @extend.footerBlock1;
        }
        .footerBlock3{
            width: 40%;
            padding: 30px;
        }
        .footerBlock4{
            @extend .footerBlock3;
            font-size: 12px;
        }
    }
}





    }//main

}//body