@import "config";
@import "mixins";


@include google-font(Roboto);

 *{
    margin: 0 auto;
    padding: 0;
}
body{
        width: auto;
        height: auto;
        margin: 0 auto;
        font-family: Roboto;
        background-color: $main-color;

        @include sm{
            background-color: yellowgreen;
        }
        @include md-only{
            background-color: aqua;
        }
  
    
    .mainBox{
        width: 960px;
        height: auto;
        border: 1px solid $font-color;
        margin: auto;
        box-shadow: $font-color;
        background-color: $main-color;

        @include sm{
            width: 100%;
        }

        @include md-only{
            width: 100%;
        }
//HEADER
.topHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    @include sm{
       flex-direction: column;
       padding: 20px;
    }
}

.text{
    font-size: 14px;
    text-align: right;

    @include sm{
        display: none;
     }

     @include md-only{
        font-size: 12px;
     }
}
.hamburger-container{
    display: none;

    @include sm{
        display: block !important;
        background-color: $font-color;
        margin: 10px;
        //color: $main-color;
    }
}
.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    padding: 35px;
    background-color: $font-color;

    @include sm{
        display: none;
        position: absolute;
        opacity: 0.8;
        width: 50%;
        //height: auto;
    }

    @include md-only{
        font-size: 12px;
        display: flex !important;
     }

     @include lg{
        display: flex !important;
     }
     ////////////////////////////////
     .active {
        font-size: 12px;
        padding: 15px;
        //background-color: $font-color;
        display: block;
        position: absolute;
        z-index: 999;
        width: 50%;
        opacity: 0.6;
      }
      //////////////////////////////

    li{
      list-style: none;

      @include sm{
        padding-top: 10px;
       }

      a{
        text-decoration: none;
        color: $text-color;
        cursor: pointer;


     }
    }


   

}

//HUMBURGER MENU
        @include sm{
        ul.hamburger li {
            height: 5px;
            background: $main-color;
            content: "";
            position: relative;
            transition: 0.25s ease-in-out;
            list-style: none;
          }
          
          .hidden {
            opacity: 0;
          }
          
          .rot45deg {
            transform: rotate(45deg);
            top: 10px !important;
          }
          
          .rot-45deg {
            transform: rotate(-45deg);
          }
          
          ul.hamburger {
            display: block;
          }
          ul.hamburger li:nth-child(1) {
            top: 0;
          }
          ul.hamburger li:nth-child(2) {
            top: 5px;
          }
          ul.hamburger li:nth-child(3) {
            top: 10px;
          }
          
          .hamburger-container {
            width: 38px;
            cursor: pointer;
            padding: 5px;
            position: absolute;
            right: 0;
          }
        
        
          
        }
        ///////////////////////
        @include md-only{
            .hamburger-container{
                display: none;
            }
        }
        @include lg{
            .hamburger-container{
                display: none;
            }
        }


 //MAIN PART
 main{
     height: auto;
     width: auto;

  
     
    .block1{
        background-color: $font-color;
        overflow: auto;

        @include sm{
            padding-top: 80px;
         }

        .triangle{
            float: left;

            @include sm{
                padding-right: 50px;
            }

            @include md-only{
                padding-right: 50px;
            }
        }

        .headerText{
             padding: 30px;
        
            @include sm{
                padding: 20px;
            }

            @include md-only{
                padding: 8px;
            }
        }
        
        .first{
            color: $text-color;
            font-size: 25px;
        
            @include sm {
                margin-top: auto;
                font-size: 14px;
            }
        
            @include md-only {
                margin-top: 50px;
                font-size: 20px;
                padding: 10px;
            }
        
        }
        .second{
            font-size: 20px;
            color: #e6e1ce;
        
            @include sm {
                margin-top: auto;
                font-size: 12px;
            }
        
            @include md-only {
                margin-top: auto;
                font-size: 17px;
            }
        }
        hr {
            position: relative;
            width: 80%;
            font-size: 1px;
            border: 0.2px solid $main-color;
        
            @include sm{
                margin: 10px 120px;
                width: 50%;
            }
        
            @include md-only{
                width: 80%;
            }
         }

        // &::after{
          //  content: url('http://localhost:3000/images/Slice_1.png');
        //}
    }
    .slice{
       width: 960px;

       @include sm{
           display: none;
       }

       @include md-only{
        width: 100%;
    }
    }


    .slice2{
       width: 960px;
       margin-bottom: -5px;

       @include sm{
        display: none;
      }
    }


.block2{
    background-color: #f8f6f0;
    height: auto;
   

     .firstArticle{
        padding: 40px; 

        @include sm{
            padding: 40px;
        }
        @include md-only{
            padding: 70px;
        }
        @include lg{
            padding: 40px;
        }


        h2{
            color: $font-color;
            text-align: center;
            font-size: $headers-fontSize;
            font-weight: 350;

            @include sm{
                font-size: 18px;
            }

            @include md-only{
                font-size: 25px;
            }

            @include lg{
                font-size: 25px;
            }
        }
        .subtitle{
            font-size: 15px;
            text-transform: uppercase;
            padding: 10px;
            font-weight: 600;

            @include sm{
                font-size: 12px;
            }

            @include lg{
                margin-left: 140px;
            }
        }
        .mainSectionBlock{
            display: flex;
            flex-wrap: wrap;


            @include sm {
                align-items: center;
            }

            @include lg {
                justify-content: space-around;
            }

            .trialDesign{
                order: 1;
                width: 40%;
                padding: 20px;
                margin: 15px;
                line-height: 20px;
                background-color: white;
                border-radius: 20px;

                @include sm {
                    width: auto;
                    font-size: smaller;
                }

                @include md-only {
                    width: auto;
                    font-size: smaller;
                }
             }
             .trialResult{
                 @extend .trialDesign;
                order: 2;
                background-color: #f8f6f0;
             }
             .briviant{
                 width: 100%;
                order: 3;
                @extend .trialResult;

                @include sm {
                    width: 100%;
              
                }
    
                figure{
                    text-align: center;
                    padding: 15px;
                    position: relative;

                    @include sm {
                        width: 100%;
                        text-align: center;              
                    }

                    figcaption{
                        font-weight: 600;
                        padding: 15px;

                        @include sm {
                            width: 100%;
                           
                        }
                    }
                }
             }
        }
    }
     
 }
    }
 //FOOTER
footer{
    background-color: $footer-color;
    padding: 20px;
    color: $main-color;
    height: auto;
    
    h4{
        padding: 10px;
        text-align: left;
    }
    .footerBlockFirst{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 14px;

        @include md-only{
            font-size: 12px;
        }

        .footerBlock1{
            width: auto;
            padding: 15px;
        }
        .footerBlock2{
          @extend.footerBlock1;
        }
   
    }
    .footerBlockSecond{
        column-count: 2;
        column-gap: 60px;
        padding: 20px;
        font-size: 14px;
    
        @include sm{
            display: flex;
            flex-direction: column;
        }

        @include md-only{
            font-size: 12px;
        }

 
   
  }
}





    }
}